@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap');

* {
  box-sizing: border-box;
}

body,
h1,
h2,
p {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
}

p {
  font-size: 16px;
}

.page {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  min-height: calc(100vh - 38px);
  max-width: 800px;
}

.title {
  font-family: 'Rubik', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}

.info {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}

.helper {
  display: none;
  padding: 10px 20px;
  background-color: #000;
  color: #fff;
}

.helper.active {
  display: block;
}

.helper-info {
  display: flex;
  justify-content: space-between;
}

.commands p {
  color: #fff;
}